<div *ngIf="data.getProperties().thing === 'vehicle'"> 
    <p>Vehicle</p>
    <p>Name: {{data.getProperties().name}}</p>
    <p>Id: {{data.getProperties().id}} </p>
    <p>Longitude: {{data.getProperties().longitude}} </p>
    <p>Latitude: {{data.getProperties().latitude}}</p>
</div>

<div *ngIf="data.getProperties().thing === 'stop'"> 
    <p>Stop</p>
    <p>Short name: {{data.getProperties().shortName}}</p>
    <p>Name: {{data.getProperties().name}}</p>
    <p>Id: {{data.getProperties().id}} </p>
    <p>Longitude: {{data.getProperties().longitude}} </p>
    <p>Latitude: {{data.getProperties().latitude}}</p>
</div>
