<div>
    <p>Route List</p>
</div>
<!-- <div>
    <app-route-single *ngFor="let route of routes" [route]="route"></app-route-single>
</div> -->

<mat-form-field>
    <mat-select [(ngModel)]="id" (ngModelChange)="getId()">
        <mat-label>Your Team</mat-label>
        <mat-option *ngFor="let route of routes" [value]="route.id">
            {{route.name}}
        </mat-option>
    </mat-select>
</mat-form-field>

<h3>Line number: {{id}}</h3>
<div>
    <div *ngFor="let stop of route.stops"> {{stop.name}} </div>
</div>